
body {
    position: relative;
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    max-width: 1200px; 
    margin: 0 auto; 
  }
  
  .introduct-course .swiper {
    width: 100%;
    height: 100%;
  }
  
  .introduct-course .swiper-wrapper {
    width: 100%;
  }
  
  .introduct-course .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    height: 300px;
    border-radius: 16px; /* Bo tròn các góc */
    overflow: hidden;
  }
  
  .introduct-course .swiper-slide:nth-child(odd) {
    background-color: #127c71;
  }
  
  .introduct-course .swiper-slide:nth-child(even) {
    background-color: #ffaf35;
  }
  
  .introduct-course .text {
    width: 60%;
    padding-right: 20px;
    text-align: center;
  }
  
  .introduct-course .img-title {
    width: 40%;
  }
  
  .introduct-course .text h3 {
    color: #e6dcdc;
    font-size: 18px;
  }
  
  .introduct-course .img-title img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .introduct-course .swiper-button-next,
  .introduct-course .swiper-button-prev,
  .introduct-course .swiper-pagination {
    display: none;
  }
  /* course-center */
  .swiper-slide {
    flex: 0 0 auto;
    width: calc(100% / 3);
    padding: 0 10px;
    box-sizing: border-box;
  }
  
  .card {
    border: 1px  #ccc;
    border-radius: 16px;
    overflow: hidden;
    background: #fff;
    margin: 10px;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
    transform: scale(0.9);
    border-radius: 16px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .star {
    color: gold;
    padding: 10px;
  }
  
  .course-price {
    margin-top: 10px;
    font-weight: bold;
    color: #127c71;
  }
  
  .course-title {
    flex: 0 0 30%;
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    font-size: 36px;
  }
  
  .swiper-buttons {
    display: flex;
    justify-content: center;
  }
  